.books {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}
.book {
    width: 18rem;
    margin: 10px;
}
.bookcover {
    height: 400px;
    width: 100%;
}