.container {
    
}
.books {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.book {
    width: 18rem;
    margin: 10px;
    flex-direction: row;
}